rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /global_settings/{document} {
      allow read, write: if true;
    }

    match /product_notifications/{document} {
      allow read, write: if true;
    }

    match /reviews/{document} {
      allow read, write: if true;
    }
  }
}
